<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="LeaveTrackerEntities" connectionString="metadata=res://*/LeaveTrackerData.csdl|res://*/LeaveTrackerData.ssdl|res://*/LeaveTrackerData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIGIWORKSTATION\SQLEXPRESS;initial catalog=LeaveTracker;persist security info=True;user id=sa;password=Secure*12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LeaveTrackerDbContext" connectionString="Data Source=DIGIWORKSTATION\SQLEXPRESS;Initial Catalog=LeaveTracker;Persist Security Info=True;User ID=sa;Password=Secure*12" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>